h1 {
	font-family: 'Passion One';
	font-size: 100px;
	font-weight: 400;
	margin-bottom: 5px;
	line-height: 80px;
	text-shadow: 4px 3px 0 white, 9px 8px 0 rgba(0,0,0,0.15);

}

.underline {
	display: inline-block;
	color: #c6c6c6;
	text-decoration: none;
	border-bottom: 1px solid #c6c6c6;
	transition: 0.2s;

	&:hover {
		color: #75caca;
		transition: 0.5s;
		border-bottom: 1px solid #75caca;
	}
}

p {
	margin-top: 0px;
}

nav ul li {
	display: inline-block;
}

nav a.nav-button {
	padding: 10px;
	border: 1px solid #B4E33D;
	border-radius: 5px;
	color: gray;
	background: #D7F4DC;
	margin: 20px 0;
}