<section id="socialIcons" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="url" content="http://patrickhanus.com">
        
        <a href="https://bit.ly/ph-vimeo" rel="me" itemprop="sameAs"><i class="fa fa-vimeo" aria-label="Link to my vimeo channel" aria-hidden="true" title="Vimeo"></i></a>
        
        <a href="https://bit.ly/ph-twitter" rel="me" itemprop="sameAs"><i class="fa fa-twitter" aria-label="Link to my twitter account" aria-hidden="true" title="Twitter"></i></a>
        
        <a href="https://bit.ly/ph-github" rel="me" itemprop="sameAs"><i class="fa fa-github" aria-label="Link to the code in my Github Account" aria-hidden="true" title="GitHub"></i></a>
        
        <a href="https://bit.ly/ph-insta" rel="me" itemprop="sameAs"><i class="fa fa-instagram" aria-hidden="true" aria-label="Link to my pictures on Instagram" title="Instagram"></i></a>
        
        <a href="https://bit.ly/ph-spotify" rel="me" itemprop="sameAs"><i class="fa fa-spotify" aria-hidden="true" aria-label="Link to my music playlists on Spotify" title="Spotify"></i></a>
        
        <a href="https://bit.ly/ph-LinkedIn" rel="me" itemprop="sameAs"><i class="fa fa-linkedin" aria-hidden="true" aria-label="Link to my LinkedIn Profile" title="LinkedIn"></i></a>
       
        <a href="https://bit.ly/ph-dribbble" rel="me" itemprop="sameAs"><i class="fa fa-dribbble" aria-hidden="true" aria-label="Link to my account on Dribbble" title="Dribbble"></i></a>

        <a href="https://bit.ly/ph-flickr" rel="me" itemprop="sameAs"><i class="fa fa-flickr" aria-hidden="true" aria-label="Link to more photos on flickr" title="Flickr"></i></a>
</section>

<footer>
        <p class="left">&copy;2017 Patrick Hanus Ltd.</p>
        <p class="right">I&nbsp;&nbsp;&nbsp;<i class="fa fa-heart" aria-hidden="true"></i>You.</p>
</footer>

</content>
        
<script src="{{ site.baseurl }}/library/js/plugins.js"></script>
<script src="{{ site.baseurl }}/library/js/main.js"></script>

<!-- Google Analytics -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-96112016-1','auto');ga('send','pageview');
</script>

</body>
</html>