<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Patrick Hanus | {{ page.title }}</title>
        <meta name="description" content="The online portfolio and resources to learn things about Patrick Hanus, if you should be so inclined to learn such things. * Please note this is an ever-evolving project. *">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@thehsedition">
        <meta name="twitter:creator" content="@thehsedition">
        <meta name="twitter:title" content="Patrick Hanus on the Web">
        <meta name="twitter:description" content="Hi, I'm Patrick Hanus, a designer and developer from New York, now living in Indianapolis for some reason.">
        <meta name="twitter:image" content="{{ site.url }}/img/patrick-hanus-illustration.png">
    <!-- OG Tags -->
        <meta property="og:title" content="Patrick Hanus" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.url }}" />
        <meta property="og:image" content="{{ site.url }}/img/patrick-hanus-illustration.png" />

        <link rel="apple-touch-icon" href="{{ site.url }}/apple-touch-icon.png">
        <link rel="stylesheet" href="{{ site.url }}/style.css">
        <script src="{{ site.url }}/library/js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <link rel="stylesheet" href="library/fonts/font-awesome.min.css">


        <script>window.jQuery || document.write('<script src="{{ site.url }}/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "Person",
              "name": "Patrick Hanus",
              "url": "http://patrickhanus.com",
              "email": "hello@patrickhanus.com",
              "logo": "http://patrickhanus.com/tile.png",
              "sameAs": [
                "https://github.com/theHsEdition",
                "https://twitter.com/theHsEdition",
                "https://www.linkedin.com/in/phanus",
                "https://dribbble.com/thehsedition",
                "https://vimeo.com/phanus",
                "https://www.youtube.com/channel/UCe20ttCu0-xMuzfZB6hrQlw",
                "https://www.instagram.com/thehsedition/",
                "https://open.spotify.com/user/thehsedition"

              ]
            }
        </script>
        <link href="https://fonts.googleapis.com/css?family=Passion+One:400|Roboto+Slab:300" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->