
{% include header.html %}

<div class="page-header">
  <h2>{{ page.hidden-message }}</h2>
</div>

<header>
    <h1>Patrick Hanus</h1>
    <p>{{ subtitle }}</p>
    
    <nav id="navigation" role="navigation">
        <ul>
          {% for link in site.links %}
            <li>
              <a class="nav-button" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>

        <div id="darkMode">Dark Mode</div>
    </nav>
</header>

<img class="artwork-left" src="{{ site.baseurl }}/library/img/artwork_left.svg" alt="">

<img class="artwork-right" src="{{ site.baseurl }}/library/img/artwork_right.svg" alt="">

<content>


    <div class="intro-grid">
        <section class="one">
            <img src="{{ site.baseurl }}/library/img/patrick-hanus-illustration.png" alt="Patrick Hanus is Attractive">
        </section>            

        <section class="two">
                <h2>Hey There,</h2>
                <p>Hi I’m Patrick Hanus.</p>
                <p>I love good design, learning new programs and figuring out how to make things better. <a title="Go to The Skymouse Studios Website" class="underline" href="https://skymousestudios.com">I started a company</a> with my best friend, because I want to help people build better brands.</p>
                <p>I like meeting new people and getting things done with others. You can get in touch, shoot the breeze or send me spam at: <a title="Email Patrick Hanus" class="underline" href="mailto:hello@patrickhanus.com">hello@patrickhanus.com</a></p>            
        </section>
    </div>
    

    <section>
        <h2>Places I’ve been in 2019:</h2>
        <p>Nashville, TN</p>
        <p>New York, NY</p>
        <p>Kitty Hawk, NC</p>
        <p>Cincinnati, OH</p>
        <p>Charleston, SC</p>
        <p>Washington, DC</p>
    </section>

    <section>
        <h2>Stuff my grandma highly recommends:</h2>
        <p>Genuine Homemade Blueberry Jam</p>
        <p>J.A.G airing weekdays on the Inspire network</p>
        <p>L.L.Bean anniversary edition plush winter snow parka (the sky-blue one)</p>
        <p>"Smoking is bad for you" - An exhilarating picture book by me</p>
    </section>

    <section id="Social Media" itemscope itemtype="http://schema.org/Person">
        <h2>Other things around the web:</h2>
        <meta itemprop="url" content="https://patrickhanus.com">
        
        <p><i class="fa fa-vimeo" aria-hidden="true"></i>Watch videos and animations I've made on <a class="underline" href="https://bit.ly/ph-vimeo" rel="me" itemprop="sameAs">Vimeo.</a></p>
        
        <p><i class="fa fa-twitter" aria-hidden="true"></i>Read cool articles, funny thoughts and new projects on <a class="underline" href="https://twitter.com/thePatrickHanus" rel="me" itemprop="sameAs">Twitter</a></p>
        
        <p><i class="fa fa-github" aria-hidden="true"></i>Take a look at my code projects on <a class="underline" href="https://bit.ly/ph-github">Github</a></p>
        
        <p><i class="fa fa-instagram" aria-hidden="true"></i>See pictures of real life and doodles for <a class="underline" href="https://bit.ly/ph-insta" rel="me" itemprop="sameAs">Instagram</a></p>
        
        <p><i class="fa fa-spotify" aria-hidden="true"></i>Listen to the latest playlist on <a class="underline" href="https://bit.ly/ph-spotify">Spotify</a></p>
        
        <p><i class="fa fa-linkedin" aria-hidden="true"></i>Send me an awkward connection request on <a class="underline" href="https://bit.ly/ph-LinkedIn" rel="me" itemprop="sameAs">LinkedIn</a></p>

    </section>

{% include footer.html %}