{% include header.html %}
<div class="page-header">
  <h2>{{ page.hidden-message }}</h2>
</div>

<header>

    <nav id="navigation" role="navigation">
        <ul>
          {% for link in site.links %}
            <li>
              <a class="nav-button" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>

        <div id="darkMode">Dark Mode</div>
    </nav>

    <h1>{{ page.title }}</h1>
    <p>{{ page.subtitle }}</p>
</header>

<content class="clearfix">

{{ content }}

{% include footer.html %}